.footer {
    background-color: var(--text-dark);
    color: #a0a0a0;
    padding: 40px 0;
    margin-top: auto; /* Прижимает футер к низу, если контента мало */
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 15px;
}

.topSection {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid #444;
}

.logoSection {
    display: flex;
    flex-direction: column;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

.socialIcons {
    display: flex;
    gap: 15px;
}

.socialIcons a {
    color: #a0a0a0;
    font-size: 24px;
    transition: color 0.2s;
}

.socialIcons a:hover {
    color: white;
}

.linksSection {
    display: flex;
    gap: 40px;
}

.linksColumn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.linksColumn h4 {
    color: white;
    font-size: 1rem;
    margin: 0 0 10px 0;
}

.linksColumn a {
    transition: color 0.2s;
}

.linksColumn a:hover {
    color: white;
}

.bottomSection {
    padding-top: 20px;
    font-size: 14px;
    text-align: center; 
}

/* .legalLinks {
    display: flex;
    gap: 20px;
}

.legalLinks a:hover {
    text-decoration: underline;
} */

/* Адаптивность для футера */
@media (max-width: 768px) {
    .topSection {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
    .logoSection, .socialIcons, .linksSection {
        justify-content: center;
    }
    .bottomSection {
        padding-top: 20px;
        font-size: 14px;
        text-align: center; 
    }
    .footer {
        padding-bottom: 80px;
    }
}

/* без колонок с новостями и faq */

.footer {
    background-color: var(--text-dark);
    color: #a0a0a0;
    padding: 80px 0;
    margin-top: auto;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 15px;
}

.topSection {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #444;
}

.logoSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

.socialIcons {
    display: flex;
    gap: 20px;
}

.socialIcons a {
    color: #a0a0a0;
    font-size: 24px;
    transition: color 0.2s;
}

.socialIcons a:hover {
    color: white;
}

.bottomSection {
    padding-top: 20px;
    font-size: 14px;
    text-align: center;
}