@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  /* Основные брендовые цвета */
  --kfc-red: #e31837;

  /* Текстовые цвета */
  --text-dark: #202020;
  --text-light: #ffffff;

  /* Фоновые цвета */
  --background-light: #f7f7f7; /* Основной фон сайта */
  --background-white: #ffffff; /* Фон для карточек, кнопок */
  --background-hover: #f0f0f0; /* Цвет фона при наведении */
  
  /* Цвета границ и разделителей */
  --border-color: #e5e5e5;
  --border-hover-color: #dddddd;

  /* Системные цвета (можно добавить) */
  --color-success: #28a745; /* Зеленый для успеха */
  --color-danger: #dc3545;  /* Красный для ошибок */
  --info-background: #f0f8ff;
  --warning-background: #fffbe6;
  --warning-border: #ffe58f;
  --warning-text: #d89610;
  --success-color: #28a745;
}

body {
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-light); /* Светлый фон для всего сайта */
  color: var(--text-dark); /* Темный цвет текста по умолчанию */
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}

* {
  box-sizing: border-box;
}

@media (max-width: 768px) {
    /* Находим наш контейнер по классу, который мы добавили */
    .my-toast-container {
      /* Переопределяем позицию */
      top: 1em;    /* Отступ сверху */
      right: 1em;  /* Отступ справа */
      width: 90vw; /* Ширина на мобильных */
      
      /* Сбрасываем нижние позиционные свойства */
      bottom: auto;
      left: auto;
    }
  }