:root {
  --kfc-red: #e31837;
  --text-dark: #121212;
  --text-light: #ffffff;
  --text-gray: #595959; 
  --background-light: #f7f7f7; 
  --background-white: #ffffff;
  --background-hover: #f0f0f0;  
  --border-color: #e5e5e5;
  --border-hover-color: #dddddd;

  --color-success: #28a745;
  --color-danger: #dc3545;
  --info-background: #f0f8ff;
  --warning-background: #fffbe6;
  --warning-border: #ffe58f;
  --warning-text: #d89610;
  --success-color: #28a745;
}

/* montserrat-400 */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/montserrat-v26-latin_cyrillic-regular.woff2') format('woff2');
}
/* montserrat-500 */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/montserrat-v26-latin_cyrillic-500.woff2') format('woff2');
}
/* montserrat-600 */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/montserrat-v26-latin_cyrillic-600.woff2') format('woff2');
}
/* montserrat-700 */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/montserrat-v26-latin_cyrillic-700.woff2') format('woff2');
}

/* body {
  margin: 0;
  font-family: 'Montserrat', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background-light);
  color: var(--text-dark);
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
} */
body {
    margin: 0;
    /* Montserrat — главный, остальное — запас на случай сбоя */
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    background-color: var(--background-light);
    color: var(--text-dark);
    text-rendering: optimizeSpeed; /* Оставляем для скорости */
    
    /* ХАК для CLS: всегда держим полосу прокрутки, чтобы контент не дергался */
    overflow-y: scroll; 
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}

* {
  box-sizing: border-box;
}

@media (max-width: 768px) {
    .my-toast-container {
      top: 1em;    
      right: 1em;  
      width: 90vw;       
      bottom: auto;
      left: auto;
    }
  }