.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .container {
    width: 100%;
    max-width: 1240px; 
    margin: 0 auto;    
    padding: 0 15px 0 15px; 
    flex-grow: 1;  
    min-height: 70vh;     
  }
  
  .mainContent {
    min-height: 80vh; /* Резервируем место под контент */
    display: flex;
    flex-direction: column;
  }
  
  @media (max-width: 768px) {
    .container {
        /* Убираем боковые отступы у главного контейнера на мобилках, 
           чтобы Hero мог встать вплотную к краям */
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 15px;
    }
  }