.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    justify-content: center;
}
.skeletonCard {
    height: 388px; 
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: skeleton-loading 1.5s infinite ease-in-out;
    border-radius: 12px;
}
@media (max-width: 768px) {
    .skeletonCard {
        /* Установи здесь то число, которое ты только что измерил в мобильном режиме */
        height: 430px; 
    }
}