.wrapper {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
    overflow-x: auto;
    flex-wrap: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
    min-height: 46px; 
    align-items: center;
}

.button {
    padding: 8px 16px;
    border: none;
    background-color: var(--kfc-red);
    border-radius: 20px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    color: var(--text-light-gray);
    background-color: var(--kfc-red);
    border-color: var(--border-hover-color);
}

.activeButton {
    composes: button; 
    background-color: var(--kfc-red);
    color: var(--text-light-gray);
    border-color: var(--kfc-red);
}