.card {
    position: relative;
    background-color: var(--background-white);
    border-radius: 1px;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.imageContainer {
    margin-bottom: 1rem;
    aspect-ratio: 250 / 180; 
    background-color: var(--background-white);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 100%;
    max-width: 250px;
    height: 100%;
    aspect-ratio: 250 / 180;
    object-fit: cover;
    display: block;
}

.title {
    font-weight: 600;
    font-size: 1.1rem;
    margin: 0.5rem 0;
    flex-grow: 1; 
}

.price {
    position: absolute;
    top: 0px;      /* Отступ сверху */
    right: 0px;    /* Отступ справа */
    
    /* Делаем цену в виде стильной плашки */
    background-color: var(--background-yellow); 
    color: var(--text-dark);                    
    padding: 6px 12px;
    border-radius: 1px;
    
    font-weight: 700;
    font-size: 1.2rem;
    z-index: 10;    /* Чтобы цена была поверх картинки */
    margin: 0;      /* Сбрасываем стандартные отступы <p> */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.button {
    width: 100%;
    padding: 10px 5px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 1px;
    cursor: pointer;
    transition: all 0.2s ease;
    display: block;
    box-sizing: border-box; 
    color: var(--text-dark);
    border: none;
    background-color: var(--background-dark);

}

.button:hover {
    background-color: var(--kfc-red);

    color: var(--text-dark);
    border-radius: 1px;

}

.inCartButton {
    composes: button; 
    background-color: var(--kfc-red);
    color: var(--text-light-gray);

    cursor: default;
    border: 2px solid var(--kfc-red); 
}

.inCartButton:hover {
    background-color: var(--kfc-red);
    color: var(--text-light-gray);
}